* {
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: wheat;
  position: absolute;
  top: 253px;
  width: 100%;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  color: burlywood;
  font-family: "Ink Free";
  font-size: larger;
  cursor: pointer;
  transition: .2s;
}

li:hover {
  background-color: burlywood;
}

.nbelements {
  text-decoration: none;
  color: maroon;
  font-size: 30px;
}

body {
  background-color: burlywood;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}

.logo img {
  width: 175px;
  height: 253px;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60px;
  text-align: center;
  color: maroon;
  font-family: initial;
  font-size: initial;
}

.contact_logo img {
  position: relative;
  top: 330px;
  left: 50px;
  display: block;
}

.info {
  position: absolute;
  right: 0;
  top: 0;
  left: 910px;
  top: 450px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: maroon;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid maroon;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: wheat;
}

input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid maroon;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: wheat;
}

input[type=tel],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid maroon;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: wheat;
}

input[type=submit] {
  background-color: maroon;
  color: wheat;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: orange;
}

.container {
  width: 50%;
  border-radius: 5px;
  background-color: burlywood;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  left: 75px;
  top: 350px;
}

label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: maroon;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  color: darkgray;
}

.reservation {
  width: 750px;
  position: absolute;
  right: 50;
  top: 0;
  left: 400px;
  top: 350px;
  font-family: Arial, Helvetica, sans-serif;
  color: maroon;
  font-size: 50px;
  text-align: center;
}